<h1>Categories</h1>

<p>This component provides categories along with there Vat%.</p>
<input id="createBtn" class="btn btn-addCategory" type="button" value="Add new category" *ngIf="!loadComponent" (click)="addCategory()" />

<p *ngIf="!categories"><em>Loading...</em></p>
<div>
  <table class='table table-striped' *ngIf="categories">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Vat % (C)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.category_Name }}</td>
        <td>{{ category.vat }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="popup-wrapper" *ngIf="loadComponent">
  <div class="child-component">
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="form-ChildComponent">

      <div class="field">
        <label class="label" for="txtCategory">Category Name</label>
        <input type="text"
               id="txtCategory"
               placeholder="ex: 'Ex, Electronics'"
               name="category" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtVat">Vat %</label>
        <input type="text"
               id="txtVat"
               placeholder=" ex: 5%"
               name="vat" ngModel>
      </div>
      <div class="field-button">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn" (click)="onCancel()"> Cancel </button>
      </div>      
    </form>   
  </div>
</div>


