body {
}

.btn {
  float: right;
  display: block;  
  border-radius:20px;  
}

.btn-addCategory {
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.btn-submit-cancel {
  background-color: white;
  margin-right: 10px;
}


.popup-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-component {
  background: #fff;
  padding: 16px;
  box-shadow: 2px 2px 10px -2px;
}
