body {
}

.btn {
  float: right;
  display: block;
  border-radius: 20px;
}

.btn-addproduct {
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.btn-submit-cancel {
  background-color: white;
  margin-right: 10px;
}

.child-component {
  position: absolute;
  width: 400px;
}
