<h1>Products</h1>

<p>This component provides all the products.</p>
<input id="createBtn" class="btn btn-addproduct" type="button" value="Add new product" *ngIf="!loadComponent" (click)="addproduct()" />

<p *ngIf="!forecasts"><em>Loading...</em></p>
<div>
  <table class='table table-striped' *ngIf="forecasts">
    <thead>
      <tr>
        <th>Category</th>
        <th>Product id (C)</th>
        <th>Name(F)</th>
        <th>Name in Arabic</th>
        <th>Unit</th>
        <th>Selling price</th>
        <th>Cost</th>
        <th>Expiry date</th>
        <th>Batch</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="popup-wrapper" *ngIf="loadComponent">
  <div class="child-component">
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="form-ChildComponent">

      <div class="field">
        <label class="label" for="txtCategory">Category</label>
        <input type="text"
               id="txtCategory"
               placeholder=""
               name="category" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtproduct id">product id</label>
        <input type="text"
               id="txtproduct id"
               placeholder=""
               name="Product id" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName">Name</label>
        <input type="text"
               id="txtName"
               placeholder=""
               name="Name" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName in Arabic">Name in Arabic</label>
        <input type="text"
               id="txtName in Arabic"
               placeholder=""
               name="Name in Arabic" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtUnit">Unit</label>
        <input type="text"
               id="txtUnit"
               placeholder=""
               name="Unit" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtCost">Cost</label>
        <input type="text"
               id="txtCost"
               placeholder=""
               name="Cost" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtSelling Price">Selling Price</label>
        <input type="text"
               id="txtSelling Price"
               placeholder=""
               name="Selling Price" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtExpiry date">Expiry date</label>
        <input type="text"
               id="txtExpiry date"
               placeholder=""
               name="Expiry date" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtBatch">Batch</label>
        <input type="text"
               id="txtBatch"
               placeholder=""
               name="Batch" ngModel>
      </div>
      <div class="field-button">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn" (click)="onCancel()"> Cancel </button>
      </div>
    </form>
  </div>
</div>



