<h1>Products</h1>

<p>This component provides all the products.</p>
<div class="wrapper-create-btn">
  <input id="createBtn" class="btn btn-info" type="button" value="Add new product" [disabled]="loadComponent" (click)="addproduct()" />
</div>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<div class="response-table">
  <table class='table' *ngIf="forecasts">
    <thead class="thead-light">
      <tr>
        <th>Category</th>
        <th>Product id (C)</th>
        <th>Name(F)</th>
        <th>Name in Arabic</th>
        <th>Unit</th>
        <th>Selling price</th>
        <th>Cost</th>
        <th>Expiry date</th>
        <th>Batch</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="popup-wrapper" *ngIf="loadComponent">
  <div id="popupComponent" class="child-component">
    <div class="field field-cross-btn">
      <button type="button" class="close" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="form-ChildComponent">

      <div class="field">
        <label class="label" for="txtCategory">Category</label>
        <select class="input-box" id="txtCategory" [(ngModel)]="selectedCategory" name="category">
          <option style="display:none">
          <option [value]="category.category_Name" *ngFor="let category of categories">
            {{category.category_Name}}
          </option>
        </select>
      </div>
      <div class="field">
        <label class="label" for="txtproduct id">Product id</label>
        <input type="text"
               id="txtproductId"
               placeholder=""
               name="id" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName">Name</label>
        <input type="text"
               id="txtName"
               placeholder=""
               name="product_Name" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName in Arabic">Name in Arabic</label>
        <input type="text"
               id="txtNameInArabic"
               placeholder=""
               name="name_Arabic" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtUnit">Unit</label>
        <select id="txtUnit" [(ngModel)]="selectedUnit" name="unit">
          <option style="display:none">
          <option [value]="o" *ngFor="let o of unit">
            {{o}}
          </option>
        </select>
      </div>
      <div class="field">
        <label class="label" for="txtCost">Cost</label>
        <input type="text"
               id="txtCost"
               placeholder=""
               name="cost" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtSellingPrice">Selling Price</label>
        <input type="text"
               id="txtSellingPrice"
               placeholder=""
               name="sellingPrice" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtExpiryDate">Expiry date</label>
        <div>
          <input class="check-box" type="checkbox" name="expiryDate" [(ngModel)]="loadBatchEntry">
        </div>
      </div>
      <div class="field" *ngIf="loadBatchEntry">
        <label class="label" for="txtBatch">Batch</label>
        <input type="text"
               id="txtBatch"
               placeholder=""
               name="batch" ngModel>
      </div>
      <div class="field-button">
        <button type="submit" class="btn btn btn-success btn-sm btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>



