<h1>Customers</h1>

<p>This component provides the customers details.</p>
<input id="createBtn" class="btn btn-addCustomer" type="button" value="Add new Customer" *ngIf="!loadComponent" (click)="addCustomer()" />

<p *ngIf="!forecasts"><em>Loading...</em></p>
<div>
  <table class='table table-striped' *ngIf="forecasts">
    <thead>
      <tr>
        <th>Customer id</th>
        <th>Name (C)</th>
        <th>Name in Arabic (F)</th>
        <th>Vat.Reg.No</th>
        <th>Contact Number (C)</th>
        <th>Sales Person (C)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="popup-wrapper" *ngIf="loadComponent">
  <div class="child-component">

    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="form-ChildComponent">

      <div class="field">
        <label class="label" for="txtcustomer id">customer id</label>
        <input type="text"
               id="txtcustomer id"
               placeholder=""
               name="customer id" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName">Name</label>
        <input type="text"
               id="txtName"
               placeholder=""
               name="Name" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName in Arabic">Name in Arabic</label>
        <input type="text"
               id="txtName in Arabic"
               placeholder=""
               name="Name in Arabic" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtVat.Reg.No">Vat.Reg.No</label>
        <input type="text"
               id="txtVat.Reg.No"
               placeholder=""
               name="Vat.Reg.No" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtContact Number">Contact Number</label>
        <input type="text"
               id="txtContact Number"
               placeholder=""
               name="Contact Number" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtSales Person">Sales Person</label>
        <input type="text"
               id="txtSales Person"
               placeholder=""
               name="Sales Person" ngModel>
      </div>
      <div class="field-button">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn" (click)="onCancel()"> Cancel </button>
      </div>
    </form>
  </div>
</div>





