<h1>Employees</h1>

<p>This component provides the employees details.</p>
<input id="createBtn" class="btn btn-addemployee" type="button" value="Add new employee" *ngIf="!loadComponent" (click)="addemployee()" />

<p *ngIf="!forecasts"><em>Loading...</em></p>
<div>
  <table class='table table-striped' *ngIf="forecasts">
    <thead>
      <tr>
        <th>Employer id</th>
        <th>Name (C)</th>
        <th>Id No (F)</th>
        <th>Expiry Date</th>
        <th>Position</th>
        <th>Salary (C)</th>
        <th>Sales Target (F)</th>
        <th>Other Allowances</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
        <td>{{ forecast.dateFormatted }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="popup-wrapper" *ngIf="loadComponent">
  <div class="child-component">

    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)"
          class="form-ChildComponent">

      <div class="field">
        <label class="label" for="txtEmployer id">Employer id</label>
        <input type="text"
               id="txtEmployer id"
               placeholder=""
               name="Employer id" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtName">Name</label>
        <input type="text"
               id="txtName"
               placeholder=""
               name="Name" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtId No">Id No</label>
        <input type="text"
               id="txtId No"
               placeholder=""
               name="Id No" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtExpiry date">Expiry date</label>
        <input type="text"
               id="txtExpiry date"
               placeholder=""
               name="Expiry date" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtPosition">Position</label>
        <input type="text"
               id="txtPosition"
               placeholder=""
               name="Position" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtSalary">Salary</label>
        <input type="text"
               id="txtSalary"
               placeholder=""
               name="Salary" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtSales Target">Sales Target</label>
        <input type="text"
               id="txtSales Target"
               placeholder=""
               name="Sales Target" ngModel>
      </div>
      <div class="field">
        <label class="label" for="txtOther Allowance">Other Allowance</label>
        <input type="text"
               id="txtOther Allowance"
               placeholder=""
               name="Other Allowance" ngModel>
      </div>
      <div class="field-button">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn" (click)="onCancel()"> Cancel </button>
      </div>
    </form>
  </div>
</div>



